body{
    background-color: #212529;
}
#entete{
    height: 100%;
    background-color: white;
}
#corps{
    background-color: #212529;
    padding-bottom: 50px;
}
#pieds{
    background-color: white;
    padding-bottom: 20px;
}
#titre{
    margin-top: 5%;
    margin-bottom: 1%;
}
.title{
    text-align: center;
    font-size: 400%;
}
.desc_rech{
    text-align: center;
}
.recherche{
    height: 50px;
}
#menu{
    margin-top: 1%;
}
.men{
    font-size: 20px;
    color: black;
}
#place_b{
    margin-top: 2%;
}
.find_quote{
    font-size: 22px;
    text-align: center;
}
.quote{
    font-size: 20px;
    margin-top: -15px;
    margin-left: -55px;
}
#content_pre_quote{
    margin-top: 2%;
}
#quote{
    margin-top: 1%;
    font-size: 19px;
    text-align: center;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.ligne{
    margin-top: 50px;
}
.character_image{
    height: 310px;
}
.name{
    text-align: center;
}
.link{
    color: #212529;
}
#recherche_result{
    padding-bottom: 20px;
}
.message{
    text-align: center;
}